<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <div class="erros">
    <% if ( errosValidacao ) { %>
      <ul>
        <% for ( var i = 0; i < errosValidacao.length; i++ ) { %>
          <li><%= errosValidacao[ i ].param %> - <%= errosValidacao[ i ].msg %></li>
        <% } %>
      </ul>
    <% } %>
  </div>
  <form action="/produtos" method="post">
    <div>
      <label for="titulo">Título</label>
      <input type="text" id="titulo" name="titulo" placeholder="coloque o título do livro" value="<%= produto.titulo %>">
    </div>
    <div>
      <label for="preco">Preço</label>
      <input type="text" id="preco" name="preco" placeholder="150.25" value="<%= produto.preco %>">
    </div>
    <div>
      <label for="descricao">Descrição</label>
      <textarea cols="20" rows="10" id="descricao" name="descricao" placeholder="fale sobre o livro"><%= produto.descricao %></textarea>
    </div>

    <input type="submit" value="gravar">
  </form>

</body>
</html>
